extends layout
block content
	div#wrapper_main
		a(href="/auth/facebook")
			img(src="../images/login-with-facebook.png",alt="Login With Facebook")
		a(href="/auth/twitter")
			img(src="../images/login-with-twitter.png",alt="Login With twitter")
		a(href="javascript:void(0);")
			img(src="../images/login-with-googleplus.png",alt="Login With Facebook")
		a(href="/auth/linkedin")
			img(src="../images/login-with-linkedin.png",alt="Login With LinkedIn")
		a(href="javascript:void(0);")
			img(src="../images/login-with-microsoft.png",alt="Login With Facebook")
		a(href="javascript:void(0);")
			img(src="../images/login-with-yahoo.png",alt="Login With Facebook")